{% extends 'base.html.twig' %}

{% block title %}Buy {{ symbol }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="mt-2">Buy</h2>
                        <p>
                            Cryptocurrency name: {{ symbol }} <br>
                            Price: ${{ price|number_format }} <br>
                            Your balance: ${{ userAmount }}
                        </p>
                        <form method="post" action="{{ path('buy_cryptocurrency', {symbol}) }}">
                            <div>
                                <crypto-currency-converter crypto-currency-price="{{ price }}" max-price="{{ userAmount }}"/>
                            </div>
                            {{ form_row(form._token) }}
                            <button class="btn btn-success mb-3">Buy</button>
                        </form>

                        {% for label, messages in app.flashes(['success', 'danger']) %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
