{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body text-center">
                        <span style="color: gray; text-transform: uppercase; font-weight: 500;">Your cryptocurrency wallet</span>
                        <br>
                        {% set walletBalance = "%.2f"|format(wallet.userBalance)|split('.') %}

                        <span style="font-size: 1.875rem; vertical-align: top">$</span>
                        <span style="font-size: 3rem">{{ walletBalance[0] }}</span>
                        <span style="font-size: 1.875rem; vertical-align: top">.{{ walletBalance[1] }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8 mt-5">
                <div class="card">
                    <table class="table table-borderless" style="border: none; margin: 0">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th style="width: 40%">Name</th>
                                <th>Quantity</th>
                                <th>Value</th>
                                <th>Change</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asset in wallet.assets %}
                                {% set priceChange = asset.priceChangePercent %}
                                <tr>
                                    <th>{{ loop.index }}</th>
                                    <td>{{ asset.cryptoCurrency.symbol }}</td>
                                    <td>{{ asset.quantity }}</td>
                                    <td>${{ "%.2f"|format(asset.value)}}</td>
                                    <td class="{{ priceChange > 0 ? 'success-color' : 'danger-color' }}">
                                        {{ priceChange > 0 ? '+' : '' }}{{ "%.2f"|format(priceChange) }}%
                                    </td>
                                    <td>
                                        <a href="{{ path('buy_cryptocurrency', {'symbol': asset.cryptoCurrency.symbol}) }}" class="btn btn-success btn-sm" style="min-width: 60px;">Buy</a>&nbsp;
                                        <a href="{{ path('sell_cryptocurrency', {'symbol': asset.cryptoCurrency.symbol}) }}" class="btn btn-primary btn-sm" style="min-width: 60px;">Sell</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}